# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
.venv/
venv/
ENV/
env/
virtualenv/
pipenv/
.pipenv/

# Distribution / packaging
.eggs/
*.egg-info/
dist/
build/
wheels/
*.egg
MANIFEST

# IDE / Editor specific files
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Other
*.env
secrets/